---
import Indicator from "../components/Indicator.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>GoITeens</title>
  </head>
  <body class="py-6">
    <div class="flex items-center gap-2">
      <div class="flex flex-grow justify-center text-xl font-semibold">
        LOGO
      </div>
      <Indicator class="bg-lime-600">Опис</Indicator>
      <Indicator class="bg-cyan-600">Аналіз</Indicator>
      <Indicator class="bg-blue-600">Стратегія</Indicator>
      <Indicator class="bg-purple-600">Продукт</Indicator>
      <Indicator class="bg-pink-600">Ресурси</Indicator>
      <Indicator class="bg-orange-600">Індикація</Indicator>
      <div class="flex-grow"></div>
    </div>
    <div></div>
  </body>
</html>
